<header>
    <h1 class="uk-display-block text-center fontGothamBlackRegular">  
                            <img class="img-src"  src="assets/img/clariant-logo.jpg">
                            <p class="display-4"><strong>GLOSSARY</strong></p>

                    </h1>
</header>
<hr>
<div class="jumbotronHead">
    <div class="row small">
        <div class="col-sm-3">
            <nav class="nav  justify-content-start">
                <em></em>
                <div class="btn-toolbar justify-content-start" role="toolbar" aria-label="Toolbar with button groups">

                    <div class="btn-group m-1 " role="group" aria-label="First group">
                        <button #btnSearch class="btn btn-sm  btn-menu fontGothamBlackRegular" (click)="goToHome()"><i class="fas fa-home">&nbsp;&nbsp;</i>HOME</button>
                    </div>

                </div>

            </nav>
        </div>
        <div class="col-sm-9 ">
            <nav class="nav  justify-content-end">

                <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">

                    <div class="btn-group m-1" role="group" aria-label="First group">
                        <button class="btn btn-sm btn-menu  fontGothamBlackRegular" (click)="goToSearch()"><i class="fas fa-search">&nbsp;&nbsp;</i> SEARCH</button>
                    </div>
                    <div class="btn-group m-1" role="group" aria-label="Second group">
                        <button class="btn btn-sm btn-menu  fontGothamBlackRegular" (click)="goToAdd()"><i class="fas fa-plus-square">&nbsp;&nbsp;</i>ADD NEW </button>
                    </div>
                    <div class="btn-group m-1 " role="group" aria-label="Third group">
                        <button class="btn btn-sm btn-menu  fontGothamBlackRegular" (click)="goToApproval()"><i class="fas fa-tasks">&nbsp;&nbsp;</i>CHECK APPROVALS LIST</button>
                    </div>

                </div>

            </nav>
        </div>

    </div>

</div>

<div class="jumbotron justify-content-start">
    <div class="row" *ngIf="goHome; showHome">
        <div class="col-lg" #showHome>

            <app-glossary-welcome>

            </app-glossary-welcome>
        </div>
    </div>

    <span>
                <div class="row" *ngIf="goSearch; showSearch">
                        <div class="col-lg" #showSearch>
                                <app-glossary-search>    
                                </app-glossary-search>
                        </div>
                </div>
        </span>

    <div class="row" *ngIf="goAdd; showAdd">

        <div class="col-lg" #showAdd>
<app-glossary-add></app-glossary-add>
        </div>
    </div>

    <div class="row">
        <div class="col-lg" *ngIf="goApproval; showApproval">
            <app-glossary-approval>
            </app-glossary-approval>
        </div>
    </div>

</div>
<footer class="">
    <div>
        <p>@Copyright by CLARIANT</p>
        <p>In case of any issue please contact: <a href="mailto:dti_ea@clariant.com">dti_ea@clariant.com</a></p>
    </div>
</footer>